<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.UserMapper">

    <!--    <select id="queryVoucherOfShop" resultType="com.hmdp.entity.Voucher" parameterType="java.lang.Long">-->
    <!--        SELECT-->
    <!--            v.`id`, v.`shop_id`, v.`title`, v.`sub_title`, v.`rules`, v.`pay_value`,-->
    <!--            v.`actual_value`, v.`type`, sv.`stock` , sv.begin_time , sv.end_time-->
    <!--        FROM tb_voucher v-->
    <!--                 LEFT JOIN  tb_seckill_voucher sv ON v.id = sv.voucher_id-->
    <!--        WHERE v.shop_id = #{shopId} AND v.status = 1-->
    <!--    </select>-->

    <select id="queryByIdList" resultType="com.hmdp.entity.User">
        select * from tb_user
        where id in
        <foreach collection="collect" item="userid" open="(" separator="," close=")" index="index">
            #{userid}
        </foreach>
        order by Field(id,
        <foreach collection="collect" item="userid" open="" separator="," close="" index="index">
            #{userid}
        </foreach>
        )
    </select>
</mapper>
